<app-header>
  <!-- render data -->
</app-header>
<hr>
<div class="container">

  <button class="btn " [ngClass]="{'btn-info': activeTab === 'tab1'}" (click)="changeTab('tab1')" >
    Tab1</button>
  <button class="btn " [ngClass]="{'btn-info': activeTab === 'tab2'}" (click)="changeTab('tab2')" >
    Tab2</button>


  <app-tab1 [hidden]="activeTab !== 'tab1'"></app-tab1>
  <app-tab2 [hidden]="activeTab !== 'tab2'"></app-tab2>

</div>




<hr>
<app-component-example [cricketers]="cricketers" (btnClickEmit)="handleEmit($event)">

  <h2>Hello this is written inside Parent Component</h2>


</app-component-example>